<div class="container">
  <div class="logo-container">
    <img class="logo-img" src="assets/logo.jpeg" />
  </div>
  <div class="social-wrapper">
    <a
      class="social-link"
      rel="noopener"
      target="_blank"
      href="https://www.facebook.com/Kaktusflisa"
    >
      <i class="fa fa-facebook-square" aria-hidden="true"></i>
    </a>
    <a
      class="social-link"
      rel="noopener"
      target="_blank"
      href="https://www.instagram.com/kaktusflisa/"
    >
      <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
  </div>
  <div class="phone-container">
    <i class="fa fa-phone phone-i" aria-hidden="true"></i>
    <span class="phone-span">Telefon: (+47) <b>62 95 23 89</b></span>
  </div>

  <div class="scroll-to-top">
    <button
      type="button"
      class="rounded-pill btn btn-primary bg-primary text-light"
      aria-pressed="true"
      (click)="scrollToTop()"
    >
      <i class="fa">↑</i>
    </button>
  </div>
  <div class="allergies">
    <h4 class="menu-title">Allergener</h4>
    <div class="alist">
      <p *ngFor="let allegie of allergies; index as i">
        {{ i + 1 }}. {{ allegie }}
      </p>
    </div>
  </div>

  <div class="menu-container">
    <h2 class="menu-title">Meny</h2>
    <div class="category-container">
      <button
        type="button"
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('salat')"
      >
        Salater
      </button>
      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('burger')"
      >
        Burgere
      </button>
      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('kebab')"
      >
        Kebab
      </button>
      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('pasta')"
      >
        Pasta
      </button>
      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('fisk')"
      >
        Fisk
      </button>
      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('kjott')"
      >
        Kjøtt
      </button>
      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('barn')"
      >
        Barnemeny
      </button>
      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('pizza')"
      >
        Pizza
      </button>

      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('dessert')"
      >
        Dessert
      </button>
      <button
        class="rounded-pill btn btn-primary bg-primary text-light"
        (click)="navigateToId('drinks')"
      >
        Drikke
      </button>
    </div>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="salat">Salater</h2>
    <p class="category-sub-title">
      Alle salater serveres med nybakt brød og smør
    </p>
    <app-list-item [arr]="Salads"></app-list-item>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="burger">Burgere</h2>
    <app-list-item [arr]="Burgers"></app-list-item>
  </div>
  <div class="tilb-container">
    <h4>Tilbehør</h4>
    <div>
      <p>Ost - Allergener: (7) - <b>20,-</b></p>
      <p>Bacon - <b>30</b>,-</p>
      <p>Løkringer - Allergener: (1) - <b>25</b>,-</p>
      <p>Mozarella sticks - Allergener: (1, 3, 7) - <b>35</b>,-</p>
      <p>Chilli Cheese Pops - Allergener: (1, 3, 7) - <b>35</b>,-</p>
    </div>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="kebab">Kebab</h2>
    <app-list-item [arr]="Kebabs"></app-list-item>
  </div>

  <div class="category-title">
    <h4>Saus styrke</h4>
    <div>
      <p><b>Mild</b>: kun hvit saus - Allergener: (3, 7, 9)</p>
      <p><b>Medium</b>: hvit og rød saus - Allergener: (3, 7, 9)</p>
      <p><b>Sterk</b>: kun rød saus - Allergener: (9)</p>
    </div>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="pasta">Pasta</h2>
    <p class="category-sub-title">
      Pastaretter serveres med nybakt brød og smør
    </p>
    <app-list-item [arr]="Pastas"></app-list-item>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="fisk">Fisk</h2>
    <app-list-item [arr]="Fishes"></app-list-item>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="kjott">Kjøtt</h2>
    <app-list-item [arr]="Meats"></app-list-item>
  </div>
  <div class="tilb-container">
    <h4>Tilbehør</h4>
    <div>
      <p>Ekstra poteter <b>40,-</b></p>
      <p>Løkringer - Allergener: (1) - <b>25</b>,-</p>
      <p>Bacon <b>25</b>,-</p>
      <p>Fløtegratinerte poteter - Allergener: (7, 9) - <b>40</b>,-</p>
    </div>
  </div>
  <div class="menu-category-container">
    <h2 class="category-title" id="barn">Barnemeny</h2>
    <app-list-item [arr]="Children"></app-list-item>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="pizza">Pizza</h2>
    <p class="category-sub-title">Liten(L): ca 30cm</p>
    <p class="category-sub-title">Medium(M): ca 40cm</p>
    <p class="category-sub-title">Stor(S): ca 50cm</p>

    <app-list-item [arr]="Pizza"></app-list-item>

    <div class="tilb-container">
      <h4>Ektra tilbehør til Pizza</h4>
      <div>
        <p>En ekstra ingrediens: <b>25</b>,-</p>
        <p>Bearnaisesaus - Allergener: (3, 7): <b>20</b>,-</p>
        <p>Hvitløksdressing - Allergener: (3, 7, 9): <b>20</b>,-</p>
        <p>Rømmedressing - Allergener: (3, 7, 9): <b>20</b>,-</p>
      </div>
      <div>
        <p>Pommesfrites til liten pizza: <b>30</b>,-</p>
        <p>Pommesfrites til medium pizza: <b>40</b>,-</p>
        <p>Pommesfrites til stor pizza: <b>50</b>,-</p>
      </div>
    </div>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="dessert">Dessert</h2>
    <app-list-item [arr]="Dessert"></app-list-item>
  </div>

  <div class="menu-category-container">
    <h2 class="category-title" id="drinks">Drikke</h2>
    <app-list-item [arr]="Drinks"></app-list-item>
  </div>

  <div class="allergies">
    <h4 class="menu-title">Åpningstider</h4>
    <div class="">
      <p>Mandag: 11:00 - 22:00</p>
      <p>Tirsdag: 11:00 - 22:00</p>
      <p>Onsdag: 11:00 - 22:00</p>
      <p>Torsdag: 11:00 - 22:00</p>
      <p>Fredag: 11:00 - 23:00</p>
      <p>Lørdag: 12:00 - 23:00</p>
      <p>Søndag: 12:00 - 22:00</p>
    </div>
  </div>
  <div class="scrollbar">
    <button (click)="scrollToTop()" type="button" class="btn btn-primary">
      Scroll til topp
    </button>
  </div>
  <div class="promotion-container">
    <p>
      Bygget av
      <a
        rel="noopener"
        target="_blank"
        href="https://www.linkedin.com/in/even-stensberg-9a4290214/"
        >Even Stensberg</a
      >
      🧑🏾‍💻
    </p>
  </div>
</div>
